/* @theme mytheme */
@import "default";

section{
  /*font-family: "Bizin Gothic Discord NF";*/
  /*font-family: "Noto Sans Mono CJK JP";*/
  /*font-family: "Noto Sans JP";*/
  font-family: "Pending Mono HWNF";
}

h1{
  position: absolute;
  left: 90px; top: 80px;
}

/* フッターを非表示にする設定 */
/* markdownに<!-- _class: no-footer --> をいれる */
section.no-footer {
  footer {
    display: none;
  }
}